<div class="card">
  <div class="card-header text-center">
    THÔNG TIN LIÊN HỆ
  </div>
  <div class="card-body m-auto" style="display: inline-flex;">
    <img src="photo/avt.jpg" class="rounded border mr-5" style="width: 18rem;" alt="">
    <div>
      <p class="card-text"><strong>Họ tên :</strong> Đào Quang Tiến</p>
      <p class="card-text"><strong>Lớp :</strong> PT14201_2</p>
      <p class="card-text"><strong>Ngày sinh :</strong> 21-04-1996</p>
      <p class="card-text"><strong>Email :</strong> tiendqps08547@fpt.edu.vn </p>
      <p class="card-text"><strong>Địa chỉ :</strong> Tân Châu , Tây Ninh</p>
      <p class="card-text"><strong>FB cá nhân :</strong> https://www.facebook.com/bac.cai.756</p>
      <p class="card-text"><strong>Liên hệ qua ZALO : </strong>01682439314</p>
      <p class="card-text"><strong>Ghi chú :</strong> <b><i> Thông tin trên hoàn toàn là thông tin cá nhân mọi thắc mắc xin hãy liên hệ</i></b></p>

    </div>

  </div>
</div>